* {
    box-sizing: border-box;
}

body, *::before, *::after {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.input-group {
    margin-block: 20px;
}

.btn {
    display: flex;
    justify-content: center;
}

input {
    padding-block: 5px;
    text-align: right;
}